click==7.1.2
streamlit==1.2.0
pandas==2.1.4
openpyxl==3.0.10
Pillow>=8.3.2
jsonschema==4.20.0
requests==2.22.0
plotly==5.4.0
plotly_express==0.4.1
streamlit-analytics==0.2.2
streamlit-metrics==0.1.0
textblob==0.15.3
wordcloud==1.8.1
spacy==3.7.0  # Vérifiez la compatibilité avec les autres paquets
https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.7.0/fr_core_news_sm-3.7.0.tar.gz
matplotlib==3.4.3
protobuf<4,>=3.20
typer==0.9.0
